#root {
  font-family: 'Cambria, Cochin, Georgia, Times, ' Times New Roman', serif';
  color: #000;
}

.blurred-content {
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

input,
select {
  background-color: rgba(117, 117, 117, 0.12);
  height: 35px;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
  border-bottom: white solid;
}

option {
  color: black;
}

select:hover,
option:hover {
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: rgb(40, 88, 143);
  border-radius: 10px;
  height: 35px;
}

button:hover {
  background-color: rgb(60, 106, 158);
}

button:active {
  background-color: rgb(28, 93, 167);
}

.box{
  background-color: peachpuff;
  position: absolute;
  top: 10px;
  box-shadow: #000;
}