@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1.notable-regular {
  font-size: 70px;
}

h2.notable-regular {
  font-size: 50px;
}

h3.notable-regular {
  font-size: 30px;
}

@media (max-width: 750px) {
  h2.notable-regular {
    font-size: 35px;
  }
}